In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers

In [2]:
data = pd.read_csv("/Users/chen_yenru/Documents/GitHub/air_qu/final_merge.csv")

In [3]:
data["Date"] = pd.to_datetime(data["Date"])

In [20]:
data["AQI"].describe()

count    35.000000
mean     61.912815
std      14.147630
min      35.187500
25%      51.208855
50%      64.987903
75%      71.979711
max      84.937754
Name: AQI, dtype: float64

In [4]:
data

         Date  Number of Cars  Trash Incineration Volume (tonnes)        AQI
0  2017-01-31       1093995.0                            674180.0  72.810811
1  2017-02-28       1093995.0                            674180.0  77.540299
2  2017-03-31       1093995.0                            674180.0  82.923960
3  2017-04-30       1093995.0                            674180.0  79.217466
4  2017-05-31       1093995.0                            674180.0  67.137838
5  2017-06-30       1093995.0                            674180.0  35.276536
6  2017-07-31       1093995.0                            674180.0  43.870794
7  2017-08-31       1093995.0                            674180.0  47.842742
8  2017-09-30       1093995.0                            674180.0  71.148611
9  2017-10-31       1093995.0                            674180.0  67.491252
10 2017-11-30       1093995.0                            674180.0  55.264993
11 2017-12-31       1093995.0                            674180.0  69.485175
12 2018-01-31       1105642.0                            625129.0  59.813008
13 2018-02-28       1105642.0                            625129.0  79.020864
14 2018-03-31       1105642.0                            625129.0  84.937754
15 2018-04-30       1105642.0                            625129.0  84.181944
16 2018-05-31       1105642.0                            625129.0  57.449529
17 2018-06-30       1105642.0                            625129.0  49.886713
18 2018-07-31       1105642.0                            625129.0  52.530997
19 2018-08-31       1105642.0                            625129.0  47.274126
20 2018-09-30       1105642.0                            625129.0  62.309322
21 2018-10-31       1105642.0                            625129.0  65.954240
22 2018-11-30       1105642.0                            625129.0  70.297222
23 2018-12-31       1105642.0                            625129.0  55.284946
24 2019-01-31       1116731.0                            496727.0  64.987903
25 2019-02-28       1116731.0                            496727.0  68.786885
26 2019-03-31       1116731.0                            496727.0  74.106183
27 2019-04-30       1116731.0                            496727.0  69.651389
28 2019-05-31       1116731.0                            496727.0  49.651389
29 2019-06-30       1116731.0                            496727.0  35.187500
30 2019-07-31       1116731.0                            496727.0  36.708333
31 2019-08-31       1116731.0                            496727.0  43.627187
32 2019-09-30       1116731.0                            496727.0  54.688889
33 2019-10-31       1116731.0                            496727.0  73.294355
34 2019-11-30       1116731.0                            496727.0  57.307371

# independent and dependent variables

In [5]:
data = data.rename(columns={"Number of Cars": "num_cars", "Trash Incineration Volume (tonnes)":"trash_burned"})
x = data.drop(['AQI','Date'], axis=1)
y = data['AQI']

In [6]:
data

         Date   num_cars  trash_burned        AQI
0  2017-01-31  1093995.0      674180.0  72.810811
1  2017-02-28  1093995.0      674180.0  77.540299
2  2017-03-31  1093995.0      674180.0  82.923960
3  2017-04-30  1093995.0      674180.0  79.217466
4  2017-05-31  1093995.0      674180.0  67.137838
5  2017-06-30  1093995.0      674180.0  35.276536
6  2017-07-31  1093995.0      674180.0  43.870794
7  2017-08-31  1093995.0      674180.0  47.842742
8  2017-09-30  1093995.0      674180.0  71.148611
9  2017-10-31  1093995.0      674180.0  67.491252
10 2017-11-30  1093995.0      674180.0  55.264993
11 2017-12-31  1093995.0      674180.0  69.485175
12 2018-01-31  1105642.0      625129.0  59.813008
13 2018-02-28  1105642.0      625129.0  79.020864
14 2018-03-31  1105642.0      625129.0  84.937754
15 2018-04-30  1105642.0      625129.0  84.181944
16 2018-05-31  1105642.0      625129.0  57.449529
17 2018-06-30  1105642.0      625129.0  49.886713
18 2018-07-31  1105642.0      625129.0  52.530997
19 2018-08-31  1105642.0      625129.0  47.274126
20 2018-09-30  1105642.0      625129.0  62.309322
21 2018-10-31  1105642.0      625129.0  65.954240
22 2018-11-30  1105642.0      625129.0  70.297222
23 2018-12-31  1105642.0      625129.0  55.284946
24 2019-01-31  1116731.0      496727.0  64.987903
25 2019-02-28  1116731.0      496727.0  68.786885
26 2019-03-31  1116731.0      496727.0  74.106183
27 2019-04-30  1116731.0      496727.0  69.651389
28 2019-05-31  1116731.0      496727.0  49.651389
29 2019-06-30  1116731.0      496727.0  35.187500
30 2019-07-31  1116731.0      496727.0  36.708333
31 2019-08-31  1116731.0      496727.0  43.627187
32 2019-09-30  1116731.0      496727.0  54.688889
33 2019-10-31  1116731.0      496727.0  73.294355
34 2019-11-30  1116731.0      496727.0  57.307371

## Scikit Linear Regression

In [7]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [8]:
# importing module
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(x_train,y_train)

LinearRegression()

In [9]:
y_prediction =  LR.predict(x_test)
y_prediction

array([56.71447481, 61.56368648, 56.71447481, 61.56368648, 61.56368648,
       56.71447481, 61.56368648])

In [10]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test,y_prediction)
print('r2 socre is ',score)
print('mean_sqrd_error is==',mean_squared_error(y_test,y_prediction))
print('root_mean_squared error of is==',np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is  -0.013743487866587856
mean_sqrd_error is== 267.73413156802496
root_mean_squared error of is== 16.362583279177677

In [11]:
import statsmodels.api as sm  
X_train_rfe = sm.add_constant(x_train)

lm = sm.OLS(y_train,X_train_rfe).fit()   # Running the linear model

print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    AQI   R-squared:                       0.055
Model:                            OLS   Adj. R-squared:                 -0.021
Method:                 Least Squares   F-statistic:                    0.7212
Date:                Tue, 18 Jan 2022   Prob (F-statistic):              0.496
Time:                        20:45:09   Log-Likelihood:                -111.26
No. Observations:                  28   AIC:                             228.5
Df Residuals:                      25   BIC:                             232.5
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const          155.5317   1264.208      0.123      0.903   -2448.153    2759.217
num_cars        -0.0001      0.001     -0.095      0.925      -0.002       0.002
trash_burned  2.901e-05      0.000      0.212      0.834      -0.000       0.000
==============================================================================
Omnibus:                        0.732   Durbin-Watson:                   2.571
Prob(Omnibus):                  0.693   Jarque-Bera (JB):                0.790
Skew:                          -0.256   Prob(JB):                        0.674
Kurtosis:                       2.356   Cond. No.                     6.20e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.2e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

In [12]:
data
from sklearn.model_selection import train_test_split

In [13]:
# Create target variable
data['target'] = data["AQI"]

In [14]:
train, test = train_test_split(data, test_size=0.2)
train, val = train_test_split(train, test_size=0.2)

## Tensorflow Feature Engineering

In [15]:
print(len(train), 'train examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')

22 train examples
6 validation examples
7 test examples

## Create an input pipeline using tf.data

In [16]:
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
  dataframe = dataframe.copy()
  labels = dataframe.pop('target')
  ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
  if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe))
  ds = ds.batch(batch_size)
  return ds

In [17]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'

In [18]:
batch_size = 5 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported numpy type: NPY_DATETIME).

In [ ]:
for feature_batch, label_batch in train_ds.take(1):
  print('Every feature:', list(feature_batch.keys()))
  print('A batch of Number of Date:', feature_batch['Date'])
  print('A batch of Number of Cars:', feature_batch['Number of Cars'])
  print('A batch of Trash Incineration Volume (tonnes)', feature_batch['Trash Incineration Volume (tonnes)'])
  print('A batch of targets:', label_batch )

Every feature: ['Date', 'num_cars', 'trash_burned', 'AQI']
A batch of Number of Date: tf.Tensor([b'2018-03-31' b'2019-04-30' b'2017-12-31' b'2018-08-31' b'2017-08-31'], shape=(5,), dtype=string)

KeyError: 'Number of Cars'

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   num_cars      35 non-null     float64
 1   trash_burned  35 non-null     float64
 2   target        35 non-null     float64
dtypes: float64(3)
memory usage: 968.0 bytes

## Choose which columns to use

In [ ]:
feature_columns = []

# numeric cols
for header in ['num_cars', 'trash_burned']:
  feature_columns.append(feature_column.numeric_column(header))

In [ ]:
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)

In [ ]:
batch_size = 32
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [ ]:
model = tf.keras.Sequential([
  feature_layer,
  layers.Dense(128, activation='relu'),
  layers.Dense(128, activation='relu'),
  layers.Dropout(.1),
  layers.Dense(1)
])

model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
              metrics=['accuracy'])

model.fit(train_ds,
          validation_data=val_ds,
          epochs=10)

Epoch 1/10
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'Date': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=string>, 'num_cars': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=float64>, 'trash_burned': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=float64>, 'AQI': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=float64>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'Date': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=string>, 'num_cars': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=float64>, 'trash_burned': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=float64>, 'AQI': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=float64>}
Consider rewriting this model with the Functional API.
1/1 [==============================] - ETA: 0s - loss: 478239.9688 - accuracy: 0.0000e+00WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'Date': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=string>, 'num_cars': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=float64>, 'trash_burned': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=float64>, 'AQI': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=float64>}
Consider rewriting this model with the Functional API.
1/1 [==============================] - 1s 536ms/step - loss: 478239.9688 - accuracy: 0.0000e+00 - val_loss: -4156248.2500 - val_accuracy: 0.0000e+00
Epoch 2/10
1/1 [==============================] - 0s 26ms/step - loss: -3999867.0000 - accuracy: 0.0000e+00 - val_loss: -8152842.0000 - val_accuracy: 0.0000e+00
Epoch 3/10
1/1 [==============================] - 0s 27ms/step - loss: -7880365.0000 - accuracy: 0.0000e+00 - val_loss: -12054663.0000 - val_accuracy: 0.0000e+00
Epoch 4/10
1/1 [==============================] - 0s 29ms/step - loss: -11858572.0000 - accuracy: 0.0000e+00 - val_loss: -15858707.0000 - val_accuracy: 0.0000e+00
Epoch 5/10
1/1 [==============================] - 0s 29ms/step - loss: -15612084.0000 - accuracy: 0.0000e+00 - val_loss: -19608170.0000 - val_accuracy: 0.0000e+00
Epoch 6/10
1/1 [==============================] - 0s 28ms/step - loss: -19796742.0000 - accuracy: 0.0000e+00 - val_loss: -23155638.0000 - val_accuracy: 0.0000e+00
Epoch 7/10
1/1 [==============================] - 0s 29ms/step - loss: -22434542.0000 - accuracy: 0.0000e+00 - val_loss: -26524346.0000 - val_accuracy: 0.0000e+00
Epoch 8/10
1/1 [==============================] - 0s 27ms/step - loss: -26752128.0000 - accuracy: 0.0000e+00 - val_loss: -29807586.0000 - val_accuracy: 0.0000e+00
Epoch 9/10
1/1 [==============================] - 0s 29ms/step - loss: -30360824.0000 - accuracy: 0.0000e+00 - val_loss: -33117616.0000 - val_accuracy: 0.0000e+00
Epoch 10/10
1/1 [==============================] - 0s 30ms/step - loss: -33522690.0000 - accuracy: 0.0000e+00 - val_loss: -36468384.0000 - val_accuracy: 0.0000e+00

In [ ]:
loss, accuracy = model.evaluate(test_ds)
print("Accuracy", accuracy)

1/1 [==============================] - 0s 10ms/step - loss: -35655032.0000 - accuracy: 0.0000e+00
Accuracy 0.0

In [ ]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_features_3 (DenseFeatu multiple                  0
_________________________________________________________________
dense_21 (Dense)             multiple                  384
_________________________________________________________________
dense_22 (Dense)             multiple                  16512
_________________________________________________________________
dropout_7 (Dropout)          multiple                  0
_________________________________________________________________
dense_23 (Dense)             multiple                  129
=================================================================
Total params: 17,025
Trainable params: 17,025
Non-trainable params: 0
_________________________________________________________________