In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv("DATA/taichung_data/final_merge.csv")

In [3]:
data

          Date  Number of Cars  Trash Incineration Volume (tonnes)        AQI
0   2017-01-31       1093995.0                            674180.0  72.810811
1   2017-02-28       1093995.0                            674180.0  77.540299
2   2017-03-31       1093995.0                            674180.0  82.923960
3   2017-04-30       1093995.0                            674180.0  79.217466
4   2017-05-31       1093995.0                            674180.0  67.137838
5   2017-06-30       1093995.0                            674180.0  35.276536
6   2017-07-31       1093995.0                            674180.0  43.870794
7   2017-08-31       1093995.0                            674180.0  47.842742
8   2017-09-30       1093995.0                            674180.0  71.148611
9   2017-10-31       1093995.0                            674180.0  67.491252
10  2017-11-30       1093995.0                            674180.0  55.264993
11  2017-12-31       1093995.0                            674180.0  69.485175
12  2018-01-31       1105642.0                            625129.0  59.813008
13  2018-02-28       1105642.0                            625129.0  79.020864
14  2018-03-31       1105642.0                            625129.0  84.937754
15  2018-04-30       1105642.0                            625129.0  84.181944
16  2018-05-31       1105642.0                            625129.0  57.449529
17  2018-06-30       1105642.0                            625129.0  49.886713
18  2018-07-31       1105642.0                            625129.0  52.530997
19  2018-08-31       1105642.0                            625129.0  47.274126
20  2018-09-30       1105642.0                            625129.0  62.309322
21  2018-10-31       1105642.0                            625129.0  65.954240
22  2018-11-30       1105642.0                            625129.0  70.297222
23  2018-12-31       1105642.0                            625129.0  55.284946
24  2019-01-31       1116731.0                            496727.0  64.987903
25  2019-02-28       1116731.0                            496727.0  68.786885
26  2019-03-31       1116731.0                            496727.0  74.106183
27  2019-04-30       1116731.0                            496727.0  69.651389
28  2019-05-31       1116731.0                            496727.0  49.651389
29  2019-06-30       1116731.0                            496727.0  35.187500
30  2019-07-31       1116731.0                            496727.0  36.708333
31  2019-08-31       1116731.0                            496727.0  43.627187
32  2019-09-30       1116731.0                            496727.0  54.688889
33  2019-10-31       1116731.0                            496727.0  73.294355
34  2019-11-30       1116731.0                            496727.0  57.307371